/*this is my style.css page*/

/*mobile first*/

/*instruction 3*/
body {
	font-family: "Alegreya Sans SC", serif;
	background-image: url("../images/concrete_seamless.png");
	background-color: #f1f1f1;
}


/*instruction 4*/
header {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
}

/*instruction 5*/

a:link {
	color: blue;
}


a:visited {
  color: blue;
}


/*instruction 6*/
.nav_links {
	display: flex;
	flex-flow: column wrap;
	align-items: center;

}


/*instruction 7*/
.card header {
	background: #288088;
	border: solid 2px #45ADAD;
	padding-top:  20px;
	padding-bottom: 20px;
	border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}


/*instruction 8*/
.pricing {
	display: flex;
	/*flex-direction: column;*/
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/*instruction 9*/
.card {
	display: flex;
	flex-direction: column;
	flex-basis: 450px;
	z-index: -1;
	

}


.gallery img{
	border: solid 10px #50C7C7;
	margin:  10px;
	width:  300px;
	display: flex;


}


.gallery {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;

}


#logo {
	animation-name: logo-animation;
	animation-duration: 5s;


}

@keyframes logo-animation {
	from{
		width: 50px;
		opacity: 0;
	}
	to{
		width:  425px;
		opacity: 1;
	}

}

/*now for screens greater than 850px*/


@media screen and (min-width: 850px) {

	header, .nav_links {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;

	}

	body > header {
		position: sticky;
		top: 0;
	}



	.pricing {
		display: flex;
		flex-direction: row;
		/*flex-wrap: wrap;*/
	}

	.card {
		flex-basis: 250px;
	}



}

/*prefers reduced motion*/
@media screen and (prefers-reduced-motion: reduce) {
    #logo {
        animation-name: none;
    }
}


/*print view*/
@media print {
	body {
		background-image: none;
	}

	/*.nav_links {
		display: flex;
		justify-content: space-between;
	}*/

	.pricing {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: flex-end;
	}
}	








